* {
	font-family: 'Open Sans', sans-serif;
}
body, html {
	height: 100%;
}
footer {
	background-color: rgb(230,230,230);
	padding-top: 15px;
	padding-bottom: 15px;
}
#listing {
	padding-top: 15px;
	padding-bottom: 15px;
}
#listing .row {
	margin: 0;
}
#plugin-box {
	border: 1px solid light
	min-height: 90%;
}
#sidemenu {
	padding-top: 15px;
	background: linear-gradient(to left, rgba(127,127,127,0.05), transparent);
	border-right: 1px dashed lightgray;
}
#infobox {
	color: ivory;
	background: #3d6594;
	padding: 10px;
	font-size: 0.85em;
	padding-left: 15px;
	padding-right: 15px;
}
#infobox a {
	color: orange;
	border-bottom: 1px solid orange;
}
#infobox #stat {
	display: inline-block;
	min-width: 150px;
}
#content {
	margin-left: 15px;
	margin-right: 15px;
}
.badge {
	background: lightgray;
	border-radius: 2px;
	height: 20px;
}
.plugin {
	font-size: 0.8em;
	margin-bottom: 10px;
}
.plugin .row { 
	margin: 0;
}
.plugin .tag {
	color: white;
	background-color: rgba(30,70,220,0.3);
	border-radius: 2px;
	margin-right: 5px;
	padding-left: 8px;
	padding-right: 8px;
}
.plugin .desc {
	padding: 4px;
	background: rgb(250,250,250);
	border-radius: 2px;
}
.tag.compat {
	background-color: rgba(127,127,127,0.3);
}
.tag.menu {
	background-color: rgba(255,127,127,0.3);
}
.plugin .author {
	margin-right: 10px;
}