---
---

/* SASS Mixins */
@mixin justify-content-between() {
  justify-content: space-between !important;
}

@mixin row() {
  display: flex !important;
  flex-wrap: wrap !important;
  display: -ms-flexbox !important;
  -ms-flex-wrap: wrap !important;
}

@mixin flex-column() {
  flex-direction: column !important;
}

@mixin d-flex() {
  display: -ms-flexbox !important;
  display: flex !important;
}

@mixin bg($color) {
  background-color: $color;
}

@mixin text-muted() {
  color: #868e96 !important;
}

/* Media sizing */
/*@media (min-width: 900px) {
    #search-menu {
        max-width: 27%;
    }
    #listing {
        min-width: 71%;
    }
}*/
@media (max-width: 540px) {
  #brand-lg {
    display: none;
  }
  #brand-sm {
    display: inline;
  }
  #search-menu, #listing {
    margin: 0 15px 15px 15px;
  }
}

@media (min-width: 541px) {
  #brand-lg {
    display: inline;
  }
  #brand-sm {
    display: none;
  }
}

/* Page defaults */
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 56px;

  nav {
    border-top: 1px solid #a3a7a9;
  }

  footer {
    @include bg(rgb(230, 230, 230));
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.8em;
    text-align: center;
  }

  #about {
    @include bg(#3d6594);
    color: ivory;
    font-size: 0.85em;
    padding: 10px 15px;

    a {
      color: orange;
      border-bottom: 1px solid orange;
    }
  }

  .block-title {
    font-size: 1.3em;
  }
}

#spinner {
  margin-left: 0.5em;
}

/* Scroll to top */
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 1000;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
  }
}

#scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

#search-menu {
  padding-top: 15px;
  padding-bottom: 30px;
  background: linear-gradient(to left, rgba(127, 127, 127, 0.05), transparent);
  border-right: 1px dashed lightgray;

  .menu-label {
    margin-top: 3px;
    font-size: 1.05em;
  }

  .selector {
    @include row;
    @include justify-content-between;
    margin-top: 10px;
  }

  #author, #order, #menu-list, #release {
    font-size: 0.9rem;
  }

  .custom-control {
    font-size: 0.9rem;
  }

  select {
    width: auto !important;
  }
}

/** Plugin container */
#plugins {
  @include d-flex;
  padding-top: 15px;

  #plugins-header {
    @include row;
    @include justify-content-between;

    .badge {
      background: lightgray;
      border-radius: 2px;
      height: 20px;
      margin: auto 0;
    }
  }

  #plugins-list {
    @include d-flex;
    @include flex-column;
  }
}

/* Plugins */
.plugin {
  @include d-flex;
  @include flex-column;
  border-top: 1px solid lightgray;
  font-size: 0.8rem;
  padding: 4px 8px 8px 8px;
  margin-bottom: 2px;

  .phead {
    @include justify-content-between;
    @include row;

    .title {
      font-size: 0.95rem;
    }

    .release {
      @include text-muted;
    }

    .author {
      font-weight: 600;
      color: black !important;
    }
  }

  .tags {
    @include row;
    margin-top: 5px;

    .tag {
      color: white;
      background-color: rgba(30, 70, 220, 0.5);
      border-radius: 2px;
      margin-right: 5px;
      padding-left: 8px;
      padding-right: 8px;
      margin-bottom: 0.25em;
      cursor: default;
      opacity: 0.6;
    }

    .tag:hover {
      box-shadow: 1px 1px 3px grey;
      opacity: 1;
    }

    .tag.t, .tag.s {
      @include bg(cornflowerblue);
    }

    .tag.c {
      @include bg(rgb(127, 127, 127));
    }

    .tag.m {
      @include bg(rgb(255, 127, 127));
    }

    .tag.d {
      @include bg(rgb(191, 127, 255));
    }
  }
}

.plugin:hover {
  background-color: rgba(127, 127, 127, 0.1);
}

.footer {
  padding-bottom: 2.5%;
  padding-top: 2.5%;
}
