* {
	font-family: 'Open Sans', sans-serif;
}
body, html {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
	padding-top: 56px;
}
footer {
	background-color: rgb(230,230,230);
	padding-top: 15px;
	padding-bottom: 15px;
}
nav {
	border-top: 1px solid #a3a7a9;
}
h6	{
	margin-top: 0.75em !important;
}
custom-control	{ 
	min-height: 1.4em !important;
}
label	{
	margin-bottom: 0 !important;
}

#listing {
	padding-top: 15px;
	padding-bottom: 15px;
	max-width: 74% !important;
}
#listing .row {
	margin: 0;
}
#plugin-box {
	border: 1px solid thin;
	min-height: 90%;
}
#sidemenu {
	padding-top: 15px;
	background: linear-gradient(to left, rgba(127,127,127,0.05), transparent);
	border-right: 1px dashed lightgray;
	font-size: 90%;
	line-height: 1.6em;
	max-width: 30% !important;
}
#infobox {
	color: ivory;
	background: #3d6594;
	padding: 10px;
	font-size: 0.85em;
	padding-left: 15px;
	padding-right: 15px;
}
#infobox a {
	color: orange;
	border-bottom: 1px solid orange;
}
#infobox #stat {
	display: inline-block;
	min-width: 150px;
}
#content {
	margin-left: 15px;
	margin-right: 15px;
}
.badge {
	background: lightgray;
	border-radius: 2px;
	height: 20px;
}
.plugin {
	font-size: 0.8em;
	margin-bottom: 10px;
}
.plugin .row { 
	margin: 0;
}
.plugin .tag {
	color: white;
	background-color: rgba(30,70,220,0.3);
	border-radius: 2px;
	margin-right: 5px;
	padding-left: 8px;
	padding-right: 8px;
}
.plugin .desc {
	padding: 4px;
	background: rgb(250,250,250);
	border-radius: 2px;
}
.tag.compat {
	background-color: rgba(127,127,127,0.3);
}
.tag.menu {
	background-color: rgba(255,127,127,0.3);
}
.plugin .author {
	margin-right: 10px;
}
.row {
  padding-right: 0px;
  margin-right: 0px;
}

/* Scroll to top */
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
	z-index: 1000;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
